#!/bin/bash

source {{ shared_venv }}/bin/activate

WORKING_DIR=/home/{{ comet_serve_user }}/working_dir
IVORN=voeventdb.4pisky.org/subscribe-only
LOGFILE=$WORKING_DIR/log/$(date +%F-%H-%M).txt
EVENT_DB_DIR=$WORKING_DIR/db

REMOTE_FOURPISKY=voevent.4pisky.org:8099
REMOTE_GCN=68.169.57.253:8099

export VOEVENTDB_DBNAME={{ voeventdb_dbname }}
COMET_PLUGIN_DIR="{{ voeventdb_repo_path }}/comet_plugin"
export PYTHONPATH=${COMET_PLUGIN_DIR}${PYTHONPATH:+:${PYTHONPATH}}


mkdir -p $(dirname $LOGFILE)
mkdir -p $EVENT_DB_DIR
cd $WORKING_DIR


BROKER_COMMAND="\
twistd -l $LOGFILE -n comet \
    --verbose \
    --eventdb=$EVENT_DB_DIR --local-ivo=ivo://$IVORN \
    --voeventdb-insert \
    --remote=$REMOTE_FOURPISKY \
    --remote=$REMOTE_GCN \
"


{% if ansible_virtualization_type is defined %}
    {% if ansible_virtualization_type == "virtualbox" %}
# Listen for a comet-instance on the virtualbox host
# (for load-testing with vagrant)
VIRTUALBOX_HOST=$(netstat -r | grep 'default' | awk '{print $2}')
BROKER_COMMAND="${BROKER_COMMAND} --remote=$VIRTUALBOX_HOST:8099"
    {% endif %}
{% endif %}

$BROKER_COMMAND

